* {
  padding: 0px;
  margin: 0;
}

.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
}

.accordionContainer {
  width: 1135px;
  height: 78px;
  flex-shrink: 0;
  margin-bottom: 200px;
  background-color: #121212;
  /* padding: 20px; */
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.customAccordion {
  background-color: #121212;
  color: wheat;
  border: 1px solid #333;
  border-radius: 8px;
  margin-bottom: 16px;
}
.icon {
  color: #34c94b;
  font-size: 44px !important;
  border-radius: 50%;
}
.accordionHead {
  background-color: #121212 !important;
  color: #fff !important;
}
.customAccordionSummary {
  background-color: #fff;
  color: #121212;
  border-bottom: 1px solid #121212;
}

.h1 {
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}
