.wrapper {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 31px;
}

.cardWrapper {
  margin-top: 18px;
  margin: 31px;
}

.toggleText {
  cursor: pointer;
  color: var(--color-primary);
}
